#General
pathInicial=C:\\Users\\C007482\\OneDrive - PPG Industries, Inc\\Desktop\\IM\\CodeReviewIM
pathTmp=CodeReviewTMP
excludeTypes=objectType|AgentGroup|Connection|Project|Folder|PROCESS_OBJECT
fileMetadata=exportMetadata.v2.json
version="1.0.20251113"

#Others
GenDependency=^published$
GenDependencyError=Warning: There are dependencies that were not validated or were not exported

#Validations TaskFlow java = validatiosCDI.validaTaskFlow
assetTf=TASKFLOW
##Tfname="^tf_[A-Z]{3}_\\d{2}_[A-Z]{3}_[A-Za-z]+[A-Za-z]$"
Tfname=^tf_[A-Z]+_\\d{2}_[A-Z]+_[a-zA-Z]+(?:_?[a-zA-Z]+)?$
TfnameError=error: "The name does not match with - tf_AAAA_00_XXXXXXXXXX"
tfDescription=^.+$
tfDescriptionError=error: "The description cannot be null"
TfParameters=^in_E[A-Z][a-zA-Z0-9]*$
TfParametersError=error: "The parameters must start with \"in_\""
TftmpFields=^vTemp_?[A-Z][a-zA-Z0-9]*$
TftmpFieldsError=error: "The Temp Variable must start with \"vTemp or vTemp_\""
Tfassing=^Assign_?[a-zA-Z]+(?:[a-zA-Z]+|_[a-zA-Z]+)*$
TfassingError=error: "The Assings must start with \"Assign or Assign_\""
Tfwaits=^Wait\\d+(sec|min|hrs)$
TfwaitsError=error: "The Wait must contain the following structure [Wait] + [Number to wait] + [sec / min / hrs]"
TfThrows=^Throw_(mt|dt)_\\d{2}_[A-Z]+_[a-zA-Z_]+$
TfThrowsError=error: "The Throw must contain the following structure [Throw] + [_] +  [Name of the associated component]"
TfEnd=^End_.*$
TfEndError=error: "The Throw must contain the following structure [End] + [_] +  [Taskflow name / Activity name]"
TfSubT=^(Ct|Dt|IO_|IntegOps)_?[A-Za-z0-9]+(?:_[A-Za-z0-9]+)*$
TfSubTError=error: "The Subtask must contain the following structure [Ct|Dt|IO] + [_] +  [Task name]"

#Validations Process java= validationsCAI.validProcessCai
PrName=^(S[A-Za-z]+|PRC)[A-Za-z0-9_\\-]+$
PrnameError=error: "The Subtask must contain the following structure [Ct|Dt|IO] + [_] +  [Task name]" 
PrDescription=^.+$
PrDescriptionError=error: "The description cannot be null"
PrPublish=^published$
PrPublishError=error: "The Status in Invalid"
PrTracing=^(none|normal|terse)$
PrTracingError=error: "The tracing level is incorrect"
PrParameters=^in_E[A-Z][a-zA-Z0-9]*$
PrParametersError=error: "The parameters must start with \"in_\""
PrOutParameters=^out_E[A-Z][a-zA-Z0-9]*$
PrOutParametersError=error: "The parameters must start with \"out_\""

#Validations Connections  java= validationsCAI.validAIConnection
ConnAsset=AI_CONNECTION
ConnName=^Conn-SC-[A-Za-z0-9]+$
ConnnameError=error: "The Connection must contain the following structure [Conn-SC-] +  [name]"
ConnDescription=^.+$
ConnDescriptionError=error: "The description cannot be null"
ConnPublish=^published$
ConnPublishError=error: "The Status in Invalid" 

#Validations Service Connector java= validationsCAI.validServiceConnector
SCName=^SC-[A-Za-z0-9]+$
SCnameError=error: "The Service Connector must contain the following structure [SC-] + [name]" 
SCDescription=^.+$
SCDescriptionError=error: "The description cannot be null"
SCPublish=^published$
SCPublishError=error: "The Status in Invalid"
SCActionNAme=^.+$
SCActionNameError=error: "The Name cannot be null" 
SCActionDesc=^.+$
SCActionDescError=error: "The description cannot be null"
SCActParameters=^in_[A-Za-z0-9]+$
SCActParametersError=error: "The Input Parameter must start with \"in_\"" 
SCActOutParameters=^out_[A-Za-z0-9]+$
SCActOutParametersError=error: "The Output Parameter must start with \"out_\"" 
SCActBindingURL=^.+$
SCActBindingURLError=error: "The URL cannot be null"
SCActBindingHeader=^.+$
SCActBindingHeaderError=error: "The Header cannot be null"

#Validations MTT java= validatiosCDI.validMTT
MTTName=^mt_([A-Za-z0-9]+)_(\d+)_([A-Za-z0-9]+(?:_[A-Za-z0-9]+)*)$
MTTNameError=error: "The name does not match with - mt_AAAA_00_XXXXXXXXXX"
MTTDescription=^.+$
MTTDescriptionError=error: "The description cannot be null"
MTTTracing=^(false)$
MTTTracingError=error: "The tracing level is incorrect"
MTTPublish=^true$
MTTPublishError=error: "The Status in Invalid"
 
#Validations MAPPINGS java= validatiosCDI.validMapping
MappingName=^m_([A-Za-z0-9]+)_(\d+)_([A-Za-z0-9]+(?:_[A-Za-z0-9]+)*)$
MappingNameError=error: "The name does not match with - m_AAAA_00_XXXXXXXXXX"
MappingInParameters=^in_[A-Za-z0-9]+$
MappingInParametersError=error: "The Input Parameter must start with \"in_\""
MappingInOutParameters=^p_[A-Za-z0-9]+$
MappingInOutParametersError=error: "The Input Parameter must start with \"p_\"" 
MappingSource=^SRC_[A-Za-z0-9]+$
MappingSourceError=error: "The Source Name must start with \"SRC_\"" 
MappingSrcTracing=^(none|Normal|normal|terse)$
MappingSrcTracingError=error: "The tracing level is incorrect"
MappingSrcQueryTracing=^(?!N/A$).+$
MappingSrcQueryTracingError=Warning: "el query fue sobre manipulado"
MappingSrcFilter=^(?!N/A$).+$
MappingSrcFilterError=error: "el filter fue manupulado"
MappingFilter=^FIL_[A-Za-z0-9]+$
MappingFilterError=error: "The Source Name must start with \"FIL_\""
MappingExp=^FIL_[A-Za-z0-9]+$
MappingExpError=error: "The Source Name must start with \"_\""
MappingJoin=^JNR_[A-Za-z0-9]+$
MappingJoinError=error: "The Joiner Name must start with \"JNR__\""
MappingJoinType=^(?!N/A$).+$
MappingJoinTypeError=info: "just information"
MappingJoinTracing=^(none|Normal|normal|terse)$
MappingJoinTracingError=error: "The tracing level is incorrect"
MappingJoinSort=^(?i)true$
MappingJoinSortError=error: "the sorter must be equal to true"
MappingExpression=^EXP_[A-Za-z0-9]+$
MappingExpressionError=error: "The Expression Name must start with \"EXP_\""
MappingExpTracing=^(none|Normal|normal|terse)$
MappingExpTracingError=error: "The tracing level is incorrect"
MappingExpOutField=^[A-Za-z0-9]+_o$
MappingExpOutFieldError=error: "The Output Field must End with \"_o\""
MappingExpVarField=^[A-Za-z0-9]+_v$
MappingExpVarFieldError=error: "The Variable must End with \"_v\""
MappingSort=^SRT_[A-Za-z0-9]+$
MappingSortdError=error: "The Sorter must start with \"SRT_\""
MappingSortMode=^(?!N/A$).+$
MappingSortModeError=info: "Only is informative"
MappingAggregator=^AGG_[A-Za-z0-9]+$
MappingAggregatorError=error: "The Aggregator must start with \"AGG_\""
MappingAggregatorSort=^(?i)true$
MappingAggregatorSortError=error: "the Input sorter must be equal to true"
MappingTarget=^TGT_[A-Za-z0-9]+$
MappingTargetError=error: "The Target must start with \"TGT_\""

#Rules Metadata Mappings
proMapping=com.informatica.metadata.template.common.Template
proExpression=com.informatica.metadata.template.tx.tmplexpression.TmplExpression
proSource=com.informatica.metadata.template.tx.tmplsource.TmplSource
proVariable =com.informatica.metadata.template.common.SessionVariable
proAdvancedProperty =com.informatica.metadata.template.common.TxAdvancedProperty
proExpressionField =com.informatica.metadata.template.tx.tmplexpression.TmplExpressionField
proTmplFilter =com.informatica.metadata.template.tx.tmplfilter.TmplFilter
proTmplTarget =com.informatica.metadata.template.tx.tmpltarget.TmplTarget
proTmplJava =com.informatica.metadata.template.tx.tmpljava.TmplJava
TmplAggregator =com.informatica.metadata.template.tx.tmplaggregator.TmplAggregator
TmplSorter =com.informatica.metadata.template.tx.tmplsorter.TmplSorter
TmplRouter =com.informatica.metadata.template.tx.tmplrouter.TmplRouter   
TmplParam =com.informatica.metadata.template.common.param.TmplParam
TmplJoiner =com.informatica.metadata.template.tx.tmpljoiner.TmplJoiner
#proBaseAdapte ="com.informatica.metadata.template.ext.da.cloud.common.BaseAdapter"
#proTxField ="com.informatica.metadata.template.common.field.TxField"
#proBaseAdapterField ="com.informatica.metadata.template.ext.da.cloud.common.BaseAdapterField"
#proDataType ="com.informatica.metadata.common.typesystem.DataType"
#proValuePair ="com.informatica.metadata.common.genericannotation.NameValuePair"
#proTxSessionProperty ="com.informatica.metadata.template.common.TxSessionProperty"
#proLayoutAnnotation ="com.informatica.metadata.template.common.layout.LayoutAnnotation"
#proFieldMappings ="com.informatica.metadata.template.tx.tmpltarget.FieldMappings"
#proJavaCompilationField ="com.informatica.metadata.template.tx.tmpljava.TmplJavaCompilationField"
#proJavaGroupByFields ="com.informatica.metadata.template.tx.tmpljava.TmplJavaGroupByFields"
#proFilterCondition ="com.informatica.metadata.template.tx.tmplfilter.FilterCondition"
#proExpressionWindowSpec ="com.informatica.metadata.template.tx.tmplexpression.TmplExpressionWindowSpec"
#proStringValue ="com.informatica.metadata.common.types.StringValue"
#proBooleanValue ="com.informatica.metadata.common.types.BooleanValue"
#proDataObject ="com.informatica.metadata.template.ext.da.cloud.common.DataObject"
#proRuntimeAttributes ="com.informatica.metadata.template.ext.da.cloud.common.RuntimeAttributes"
#proGenericAnnotation ="com.informatica.metadata.common.genericannotation.GenericAnnotation"
#proReadOptions ="com.informatica.metadata.template.ext.da.cloud.common.ReadOptions"
#proTmplAllRule ="com.informatica.metadata.template.common.rule.TmplAllRule"
#proBulkOptions ="com.informatica.metadata.template.ext.da.cloud.common.BulkOptions"
#proWriteOptions ="com.informatica.metadata.template.ext.da.cloud.common.WriteOptions"
#proFlatFileAttrs ="com.informatica.metadata.template.ext.da.cloud.common.FlatFileAttrs"
#proOption ="com.informatica.metadata.template.ext.da.cloud.common.Option"
#proDescription ="com.informatica.metadata.common.description.Description"
#proTmplLink ="com.informatica.metadata.template.common.TmplLink"
#proTmplGroup ="com.informatica.metadata.template.common.TmplGroup"



   
			

